html {
    height: 100%;
}

body {
    background-color: #2F3035;
    /* background-image: url(images/Daan.jpg); */
    background-size: cover;
    background-position: center;
}

header {
    height: 100px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.338);
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    height: 100px;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.logo {
    width: 250px;
    height: 300px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.linkedin {
    width: 80px;
    height: 70px;
}

.menu {
    color: white;
    font-size: 20px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:768px) {
    body {
        display: none;
    }
}